<div id="home">
  <app-svg class="home-logo" name="logo"></app-svg>
  <div class="welcome-text">
    <p *ngIf="!arePatientsEnables">
      <b>¡Bienvenid@!.</b> Para gestionar pacientes<br />
      debes contar con usuarios tipo paciente y tipo médico
    </p>
  </div>
  <div class="manager-options">
    <div class="option" (click)="navigateToPersons()">
      <div class="option-image user-image"></div>
      <div class="option-text">
        <p>Gestión de usuarios</p>
      </div>
    </div>
    <div class="option" [class.disabled]="!arePatientsEnables">
      <div class="option-image patient-image"></div>
      <div class="option-text">
        <p>Gestión de pacientes</p>
      </div>
    </div>
  </div>
</div>
