@import "../../../styles/vars";

.over-close {
  background: black;
  opacity: 0.5;
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 30;
  background: white;
  border-radius: 3px;
  overflow: hidden;
  margin: auto;
  height: fit-content;
  width: calc(100% - 20px);

  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary;
    height: 36px;
    padding: 0 15px;

    h3 {
      color: #fff;
    }
  }

  .popup-body {
    padding: 20px;
    max-height: calc(100vh - 20px);
    overflow-y: auto;
  }

  .popup-footer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
  }

  @include mobile {
    align-items: start;
    overflow-y: auto;

    .popup-body {
      max-height: 100%;
      height: fit-content;
      overflow-y: hidden !important;
    }

    .popup-footer {
      flex-direction: column-reverse;
      align-items: center;
      gap: 10px;
      padding: 10px 0;

      .btn {
        width: 80%;
      }
    }
  }
}
