<p>
  <input type="text" [formControl]="nameField" />
</p>

<form action="">
  <div>
    <label for="">Documento</label>
    <input type="text" />
  </div>
  <div>
    <label for="">Documento</label>
    <input type="text" />
  </div>
  <div>
    <label for="">Documento</label>
    <input type="text" />
  </div>
  <div>
    <label for="">Documento</label>
    <input type="text" />
  </div>
  <div>
    <label for="">Documento</label>
    <input type="text" />
  </div>
  <div>
    <label for="">Documento</label>
    <input type="text" />
  </div>
  <div>
    <label for="">Documento</label>
    <input type="text" />
  </div>
  <div>
    <label for="">Documento</label>
    <input type="text" />
  </div>
  <div>
    <label for="">Documento</label>
    <input type="text" />
  </div>
  <div>
    <label for="">Documento</label>
    <input type="text" />
  </div>
  <div>
    <label for="">Documento</label>
    <input type="text" />
  </div>
</form>
