@import "../styles/vars";

#main {
  height: calc(100% - 50px);
  display: flex;
  background: $gray6;

  #wrapper {
    width: 100%;
    max-width: 100%;
    padding: 15px 15px 0 15px;
    overflow: auto;
  }
}
